<div id="main">
  <div id="head">
    <h1 class="title">Cardgames</h1>

    <p class="logtypes">
      This is Cardgames.
      <br/>
      _Robie put this here so his friends could play along while he hacks on some stuff,
      learns some other stuff, gets distracted, comes back and starts again, wishes he was a better artist,
      and just maybe studies for something. Which would be crazy, since that is the whole reason he started this
      thing in the first place.
      <br/>
      _If this is interesting to you, the source is on
      <a href="https://github.com/robie1373/web_warcards" class="logtypes" id="about">
      Github</a>. You can also find an issue tracker there and ways to contact him if you so desire.
      <br/>
      _This is a work in progress which is why so many things don't work. Hey. You get what you pay for, right?
      <br/>
      _Anyway, he hopes you enjoy it and have a very nice day!
      <br/>
      Robie
    </p>
  </div>
</div>