<!DOCTYPE html />
<html lang="en">

<head>
  <title>Cardgames</title>
  <style>
      body {
          background-image: url('/vichy.png');
          background-repeat: repeat;
          /*background-color: #dbd4c2;*/
          witdh: 1000px;
          /*margin: 50px auto;*/
          font-family: Geneva, Arial, sans-serif;
      }

      header {
          margin-top: 0px;
      }

      a:link    {color: #040004;}
      a:visited {color: #040004;}
      a:hover   {color: #300004;}
      a:active  {color:yellow;}

      h1,h2 {
          margin-top: 2em;
      }

      #main {
          margin: 25px;
      }

      #head {
          margin: 15px;
      }

      .title {
          color: #fffff0;
      }

      .header {
                margin-right: 1em;
                /*background-color: #cccccc;*/
                background-color: #4a4a4d;
                color: #fffff0;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 12px;
                padding-right: 120px;
                border-radius: 5px 0 0 0;
                text-decoration: none;
                opacity: 0.6;
                filter: alpha(opacity = 60);
            }

      .logtypes {
          /*background-color: #cccccc;*/
          background-color: #4a4a4d;
          color: #fffff0;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-left: 12px;
          padding-right: 120px;
          border-radius: 5px 0 0 0;
          text-decoration: none;
          opacity: 0.6;
          filter: alpha(opacity = 60);
      }

      .logtext {
          margin: 15px;
          patding: 10px;
          font-weight: bold;
      }

      div.transbox {
          opacity: 0.60;
          filter: alpha(opacity = 60);
      }

      div.log {
          background-color: #909090;
          margin: 15px;
          patding: 10px;
          border-radius: 10px;
      }

      div.log h3 p {
          color: #000000;
      }

      input {
          border-radius: 5px 0 0 0;
          background: #cccccc;
          color: #080808;
          margin: 9px;
      }

      form {
          color: #fffff0;
      }

      table, th, td, tr {
          margin-left: 10px;
          border-collapse: collapse;
          padding: 10px;
          /*margin: 10px;*/
          border: 1px #708090;
      }

      td {
          padding-left: 10px;
      }

          /*tr:nth-child(odd) {*/
          /*background-color: #dcdcdc;*/

          /*}*/

          /*tr:nth-child(even) {*/
          /*background-color: #fffff0;*/
          /*}*/

      table > tr:first-child {
          border: 1px #708090;
          border-radius: 5px;
      }

  </style>
</head>

<body>
<header class="header">
  <a href="/">home</a>
</header>
<%= yield %>
</body>
</html>