<div id="main">
    <h1 class="title">Warcards Setup</h1>

    <!--<h2 class="logtypes">This is the warcards setup page</h2>-->

    <form  method="POST" action="/warcards/verify" class="logtypes">
      Name: <input type="text" name="player_name" value="Player" placeholder="Player name" autofocus="autofocus" required="required" />
      <br/>
      Question set:
      <select name="filename">
        <option value="demo">Demo Questions</option>
        <option value="todo">Todo add another option</option>
      </select>
      <br/>
      Difficulty: <input name="difficulty" type="number" min="1" max="9" value="4" required="required"/>
      <input type="submit" id="set" value="Continue" />
    </form>

</div>