<div id="main">
    <h1 class="title">Warcards Validate</h1>

    <form action="/warcards/play" method="GET">
          <input type="submit" value="Continue" id="continue" autofocus="autofocus" />
        </form>

    <h2 class="logtypes">Difficulty: <%= @difficulty %></h2>

    <h2 class="logtypes">Question data:</h2>
    <table>
      <% File.open(@demo_questions_file, 'r') do |file| %>
          <% file.readlines.each do |line| %>
              <tr class="logtypes">
                <td class="logtypes"> <%= line %> </td>
              </tr>
          <% end %>
      <% end %>
    </table>

</div>