<div id="main">
  <div id="head">
    <h1 class="title">Warcards Setup</h1>

    <h2 class="logtypes">This is the warcards setup page</h2>
    <h2 class="logtypes"> <%= @output %> </h2>

  </div>
</div>